@import url('https://fonts.googleapis.com/css?family=Comfortaa|Jura|Montserrat&display=swap');

body {
    font-family: 'Jura', sans-serif;
    width: 98%;
    margin: 0 auto;
}
h1 {
    font-family: 'Comfortaa', cursive;
}
h2 {
    font-family: 'Montserrat', sans-serif;
}
p {
    text-align: justify;
}
.error {
    color: red;
}
.success {
    color: #ff9966;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}
.top-nav {
    background: #589be25c !important;
    padding: 5px 3px;
    transition: 0.5s;
}
.top-nav.scrolled {
    background: #9EA6DD !important;
    width: 100% !important;
    opacity: 0.9;
    padding: 5px 3px;
    transition: 0.5s;
    /* box-shadow: 0 1px 5px black; */
}
.aboutus-nav, .below-aboutus-nav {
    background: #9EA6DD !important;
    opacity: 0.9;
    padding: 3px 3px;
}

.below-top-nav {
    margin-top: 28px;
    padding: 3px 3px;
    /* box-shadow: 0px 4px 3px #f99f8b; */
    /* z-index: 0; */
}
.below-aboutus-nav {
    margin-top: 24px;
    padding: 3px 3px;
    box-shadow: 0px 4px 3px #f99f8b;
}
.below-aboutus-nav a img {
    width: 70px;
    height: 67px;
}
.below-aboutus-nav > a {
    font-size: 35px;
    font-weight: 700;
    color: #EA6524 !important;
    text-shadow: 0 1px 4px #9EA6DD;
}
li.nav-item.dropdown {
    list-style: none;
    z-index: 1000;
}
.carousel {
    position: relative;
    z-index: -1;
}
.below-top-nav > a {
    font-size: 35px;
    font-weight: 700;
    color: #EA6524 !important;
    text-shadow: 0 1px 4px #9EA6DD;
}
.top-nav a img {
    width: 100px;
    height: 98px;
}
.floatleft {
    margin-left: auto;
    /* float: left; */
}
.nav-float-left li a {
    color: #EA6524 !important;
    font-size: 15px;
    text-shadow: 0 1px 6px #9EA6DD;
    font-weight: 500;
    text-shadow: 0 1px 1px #5d3b0b;
    transition: 0.5s;
    text-transform: uppercase;
}
.top-top-nav a, .aboutus-nav a {
    color: white;
    font-weight: 700;
    text-shadow: 0 1px 3px #5d3b0b;
    font-size: 12px;
}
.dropdown-menu.show {
    display: block;
    background: #ff452b;
    border-radius: 0px;
    box-shadow: 0px 1px 6px grey;
}
.carousel-caption h1 {
    text-shadow: 0 1px 3px #5d3b0b;
    text-transform: uppercase;
    font-size: 28px;
}
a.nav-link:hover {
    font-size: 16px !important;
    margin-top: -2px;
    border-bottom: 2px solid #EA6524;
    transition: 0.5s;
}




.hero-image .carousel-inner {
    width: 100%;
    height: 90vh;
}
.carousel-item img {
    width: 100%;
    height: 90vh;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 283px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.carousel-contain {
    width: 100%;
    margin: 0 auto;
}






.objective-about-us {
    padding: 70px;
    text-align: center;
}
.objective-about-us h2 {
    text-transform: uppercase;
    font-size: 32px;
    padding-bottom: 15px;
    color: #ff532d;
    text-shadow: 0 1px 1px;
}
.objective-about-us p a, .video-section p a {
    border: 1px solid #9EA6DD;
    padding: 7px 22px;
    border-radius: 20px;
    color: #9EA6DD;
    transition: 0.2s;
}
.objective-about-us p {
    margin-bottom: 50px;
}
.objective-about-us p a:hover, .video-section p a:hover {
    background: #ff452b;
    color: white;
    padding: 9px 35px;
    border: 1px solid #ff452b;
    text-decoration: none;
    transition: 0.2s;
}







.front-page-services {
    padding: 70px;
    background: #ff452b;
    color: white;
    text-align: center;
}
.front-page-services h3 {
    font-size: 18px;
    text-align: center;
}
i.fa.fa-check-circle {
    font-size: 80px;
    margin-bottom: 30px;
}








.video-section h2 {
    font-size: 26px;
    margin-top: 24px;
    text-align: center;
}
.video-section p {
    font-size: 16px;
}
.video-section video {
    margin-top: 40px;
    margin-bottom: 40px;
}








.front-page-card {
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 30px;
    background: #ff532e;
}
.front-page-card2 {
    padding-top: 20px;
    padding-bottom: 40px;
    background: #ff532e;
    margin-top: -1px;
}
.row.front-page-card .cards, .front-page-card2 .cards {
    padding: 40px;
    transition: 0.4s;
}
.row.front-page-card .cards:hover, .front-page-card2 .cards:hover {
    box-shadow: 0 1px 6px white;
    border-radius: 5px;
    transition: 0.4s;
}
.front-page-card .cards h3, .front-page-card .cards p, .front-page-card .cards ul {
    color: white;
    transition: 0.4s;
}
.front-page-card2 .cards h3, .front-page-card2 .cards p {
    color: white;
    transition: 0.4s;
}







.footer-logo {
    padding: 15px;
    background: #E2C7AF;
}
.footer-logo img {
    width: 70px;
}













footer {
    background: #ff532e;
    padding: 18px 40px 2px;
    color: white;
    font-size: 14px;
    line-height: 0.5rem;
}







.main-aboutus {
    margin-top: 200px;
}
.main-aboutus img {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    transition: 0.4s
}
.main-aboutus img:hover {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
    transition: 0.4s;
}
.main-aboutus p {
    line-height: 33px;
}
.main-aboutus h2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
}
.main-aboutus + .row p {
    line-height: 35px;
    margin-top: 36px;
}
.aboutus-last-para p {
    line-height: 35px;
}
.main-aboutus .cards {
    border: 1px solid #f3b7b0;
    padding: 5px;
}
.aboutus-contact a {
    border: 1px solid #9EA6DD;
    padding: 7px 22px;
    border-radius: 20px;
    color: #9EA6DD;
    transition: 0.2s;
}
.aboutus-contact a:hover {
    background: #ff452b;
    color: white;
    padding: 9px 35px;
    border: 1px solid #ff452b;
    text-decoration: none;
    transition: 0.2s;
}
section h5 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #ff6443;
    text-shadow: 0 1px 1px;
}









.main-services {
    margin-top: 200px;
}
main.service-main {
    line-height: 30px;
}
main.service-main .cards {
    border: 1px solid #f3b7b0;
    padding: 5px;
    margin-bottom: 10px;
}
main.service-main img:hover {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
    transition: 0.4s; 
}
main.service-main img {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
    transition: 0.5s; 
}
main.service-main h5 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 28px;
    color: #ff6543;
    text-shadow: 0 1px 1px;
}
.slider .slide img {
    width: 90px;
}








/* popup */

.popup-effect {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
  }
  
  .popup-effect:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    background: #fff;
    border-radius: 0px;
    max-width: 560px;
    position: relative;
    margin: 3em auto;
    padding: 3em 2em;
    z-index: 999;
    text-align: center;
    top: 160px;
}
  
  .popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }
  
  .popup .close:hover {
    color: #686de0;
  }
  /* //popup */
  .projects-main {
    margin-top: 200px;
}  







main.contact-main {
    margin-top: 200px;
}
main.contact-main h2 {
    font-size: 25px;
    margin-top: 50px;
}
main.contact-main h3 {
    font-size: 23px;
}
main.contact-main .cards {
    background: #ff6442;
    padding: 100px 50px;
    width: 100%;
}
main.contact-main h5, main.contact-main h4 {
    font-size: 13px;
}
fieldset {
    width: 100%;
}
fieldset input, fieldset textarea {
    width: 100%;
    padding: 8px;
    margin: 10px 17px;
}
button {
    width: 100%;
    background: #a8afe0;
    text-align: center;
    margin: 14px;
    padding: 8px;
    transition: 0.4s;
    color: white;
    border: none;
}
button:hover {
    font-size: 20px;
    background: #ff6442;
    text-decoration: none;
    transition: 0.4s;
}








@media (max-width: 769px) {
    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.5);
        border-color: rgba(0,0,0,.1);
        width: 54px;
    }
    .front-page-card img {
        margin-top: 130px;
    }
    .front-page-card2 img {
        margin-top: 80px;
    }
    .below-top-nav {
        padding: 3px 30px;
    }
    .top-nav {
        padding: 5px 33px;
    }
    .top-nav.scrolled {
        padding: 5px 20px;
        width: 100% !important;
    }
    .carousel-caption {
        bottom: 170px;
    }
    .below-aboutus-nav {
        margin-top: 23px;
        padding: 3px 25px;
    }
    .aboutus-nav, .below-aboutus-nav {
        padding: 3px 27px;
    }
    main.index_main {
        margin-top: 45px;
    }
    .carousel-contain {
        width: 100%;
        margin: 0 auto;
    }
     .hero-image .carousel-inner {
        width: 100%;
        height: 55vh;
    }
    .carousel-item img {
        width: 100%;
        height: 55vh;
    }  
    .front-page-card2 img {
        height: 260px;
    }
    .front-page-card img {
        height: 290px;
    }
}
@media (max-width: 600px) {
    footer {
        line-height: 1.5rem;
    }
    .carousel-caption {
        bottom: 185px;
    }
    .carousel-caption h1 {
        font-size: 24px;
    }
    .front-page-card img {
        height: 370px;
        margin-top: 20px;
    }
    .front-page-card2 img {
        height: 500px;
        margin-top: 0px;
    }
}
@media (max-width: 412px) {
    .hero-image .carousel-inner {
        height: 50vh;
    }
    .carousel-item img {
        width: 100%;
        height: 50vh;
    }
}
@media (max-width: 420px) {
    .below-top-nav {
        margin-top: 46px;
    }
    .below-aboutus-nav {
        margin-top: 42px;
        padding: 3px 25px;
    }
    .carousel-caption {
        bottom: 130px;
    }
    .carousel-caption h1 {
        font-size: 18px;
    }
    .front-page-card img {
        height: 350px;
        margin-top: 20px;
    }
    .front-page-card2 img {
        height: 430px;
        margin-top: 0px;
    }
}
@media (max-width:375px) {
    .front-page-card img {
        height: 330px;
        margin-top: 20px;
    }
    .front-page-card2 img {
        height: 400px;
        margin-top: 0px;
    }
}
@media (max-width: 360px) {
    .below-top-nav {
        margin-top: 46px;
    }
    .below-aboutus-nav {
        margin-top: 41px;
        padding: 3px 25px;
    }
}
@media (max-width: 360px) {
    .carousel-caption {
        bottom: 35px;
    }
}
